<form id="loginForm" name="loginForm" role="form" novalidate>
  <!-- ERROR PANEL -->
  <div>

    <!-- ERROR PANEL 1 -->
    <div class="panel-body bg-danger u_margin-sm-top" style="display: block;" ng-show="duplicateError">
      <p class="u_remove-bottom">
        <i class="fa fa-warning icon-left"></i>
        <span>This email address is already registered.  You can <a href="#">sign in </a>with this address.</span> 
      </p> 
    </div>
              
    <!-- ERROR PANEL 2 -->
    <div class="panel-body bg-danger u_margin-sm-top" style="display: block;" ng-show="loginError">
      <p class="u_remove-bottom">
        <i class="fa fa-warning icon-left"></i>
        <span>Your email address (or password) is not found. <a href="#"></a></span> 
      </p>
    </div>

    <!-- ERROR PANEL 3 -->
    <div class="panel-body bg-danger u_margin-sm-top" style="display: block;" ng-show="unconfirmedError">
      <p class="u_remove-bottom">
        <i class="fa fa-warning icon-left"></i>
        <span>Your email address has not been confirmed. <br/> <a href="#">Resend Email Confirmation</a></span> 
      </p>
    </div>
  </div>

  <div class="u_margin-sm-top">
  
    <div class="form-group" ng-class="{'has-error': (!loginForm.username.$pristine && loginForm.username.$invalid) || loginError}" show-errors>
      <label class="control-label">Email</label>
      <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username" ng-model="credentials.username" required focus-me="true">
      <p class="text-danger" ng-show="!loginForm.username.$pristine && loginForm.username.$invalid">
        Please enter an Email
      </p>
    </div>

    <div class="form-group" ng-class="{'has-error': (!loginForm.password.$pristine && loginForm.password.$invalid) || loginError}" show-errors>
      <label class="control-label">Password</label>
      <input type="password" class="form-control" placeholder="Enter Password" id="password" name="password" ng-model="credentials.password" required>
      <p class="text-danger" ng-show="!loginForm.password.$pristine && loginForm.password.$invalid">
        Please enter a Password
      </p>
    </div>

  </div>

</form>
